<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>YFScaleScrollView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>05A1B87D1D214EAA001C78FF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>05A1B8961D214EAB001C78FF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>05A1B8A11D214EAB001C78FF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
